h1, h3{text-align: center;}
body{background-color:lightblue;}
h1{font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkmagenta;color: darkgreen;
}
h3{font-size: 25;font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{background-color: rgb(206, 206, 206);font-size: 25px;}
