h1, h3{text-align: center;}
body{
    background-image:url(bailarina.png);
    background-color: rgba(255, 0, 170, 0.212);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}
.areaPrincipal{}
h1{font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;color: #000;
}
h3{font-size: 25;font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{font-size: 25px;}
